/*
  0 - 600px:        Phone
  600px - 900px:    Tabelt portrait
  900px -1200px:    Tablet landscape
  1200px - 1800px:  Normal desktop
  1800px + :        Big desktop



  $brackpoint argument choices

  - phone
  - tab-port
  - tab-land
  - big-desktop


  1em = 16px

  Order to change
  Base + Typography > General layout + Grid > Page layout > Components
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 37.5em) {
  html .some {
    background-color: red;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 2rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

ul {
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #495057;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveinleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1.5rem;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: moveinright 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondery {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondery {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondery {
    font-size: 2.5rem;
  }
}
.heading-secondery:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5px 1px 10px rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

@keyframes moveinleft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveinright {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes slideup {
  0% {
    transform: translateY(7.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}
.u-margin-bottom-mid {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-mid {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-mid {
  margin-top: 4rem !important;
}
.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border-width: 0;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #495057;
  animation: slideup 0.5s ease-out 0.75s backwards;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
  animation: slideup 0.5s ease-out 0.75s backwards;
}
.btn:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.5s;
}
.btn:hover:after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.btn-text:active {
  transform: translateY(1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.composition {
  position: relative;
  height: 100px;
}
.composition__photo {
  width: 55%;
  border-radius: 2px;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  outline-offset: 10px;
  transition: transform 0.2s;
}
@media (max-width: 56.25em) {
  .composition__photo {
    position: relative;
    float: left;
    width: 33.333333%;
    box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.3);
  }
}
.composition__photo--p1 {
  left: 0;
  top: -20px;
}
@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
  }
}
.composition__photo--p2 {
  right: 0;
  top: 20px;
}
@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: 0;
    transform: scale(1.3);
    z-index: 5;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 100px;
}
@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 0;
    left: 0;
  }
}
.composition__photo:hover {
  transform: scale(1.1) translateY(-10px);
  z-index: 6;
  box-shadow: 0px 2px 6px black;
  outline: 5px solid #55c57a;
}
@media (max-width: 56.25em) {
  .composition__photo:hover {
    transform: scale(1) translateY(0);
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}
@media (max-width: 56.25em) {
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(1);
  }
}

.feature-box {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: transform 0.3s;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.feature-box__text {
  font-size: 1.6rem;
}
.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  height: 100%;
  width: 100%;
  transition: all 0.8s ease;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-6.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-7.jpg");
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 70%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__details {
  padding-top: 1.5rem;
}
.card__details ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #adb5bd;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.card__price-box {
  color: #fff;
  margin-bottom: 10rem;
}
.card__price-only {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .card__side {
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__heading {
    width: 60%;
  }
  .card__details {
    padding-bottom: 1.5rem;
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    text-align: center;
    width: 100%;
    padding: 6rem 4rem 4rem 4rem;
  }
  .card__price-box {
    color: #fff;
    margin-bottom: 3rem;
  }
  .card__price-only {
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}

.story {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 75%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 3px;
  padding: 6rem;
  transform: skewX(-12deg);
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  margin-right: 3rem;
  position: relative;
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: transform 0.4s;
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(0.8);
}
.story__caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 20%);
  opacity: 0;
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
  text-align: center;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
@media (max-width: 56.25em) {
  .story {
    max-width: 100%;
    padding: 4rem;
  }
}
@media (max-width: 37.5em) {
  .story {
    transform: skewX(0);
  }
  .story > * {
    transform: skewX(0);
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input {
  padding: 1.5rem 2rem;
  border: none;
  font: inherit;
  font-size: 1.5rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  display: block;
  width: 80%;
  transition: all 0.3s;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input::-webkit-input-placeholder {
  color: #343a40;
}
.form__input:focus {
  outline: none;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.1);
  border-color: #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input:placeholder-shown + .form__label {
  transform: translateY(-4rem);
  opacity: 0;
  visibility: hidden;
}
.form__radio-group {
  display: inline-block;
  width: 40%;
  margin-left: 3.3rem;
}
@media (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-label {
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;
}
.form__radio-button {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  border: 0.5rem solid #55c57a;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-3rem);
}
.form__radio-button::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #55c57a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.form__radio-label:hover .form__radio-button::after {
  opacity: 0.4;
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked ~ .form__radio-label > .form__radio-button::after {
  opacity: 1;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
@media (max-width: 56.25em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 6rem) / 3) + 6rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 6rem) / 4);
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem
    );
}

.footer {
  background-color: #212529;
  padding: 10rem 0;
  font-size: 1.4rem;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
}
.footer__logo {
  width: 15rem;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .footer__logo {
    margin-bottom: 6rem;
  }
}
.footer__navigation {
  border-top: 1px solid #adb5bd;
  padding-top: 2rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .footer__navigation {
    text-align: center;
    width: 100%;
  }
}
.footer__navigation-item {
  display: inline-block;
}
.footer__navigation-item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__navigation-link:link, .footer__navigation-link:visited {
  color: #f1f3f5;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.3s;
  background-color: #212529;
}
.footer__navigation-link:active, .footer__navigation-link:hover {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.3) rotate(5deg);
}
.footer__copyright {
  color: #f1f3f5;
  text-align: right;
  padding-top: 2.1rem;
}
@media (max-width: 56.25em) {
  .footer__copyright {
    text-align: center;
  }
}
.footer__copyright-link {
  color: #55c57a;
}

.navigation__checkbox {
  display: none;
}
.navigation__label {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  background-color: #fff;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}
@media (max-width: 56.25em) {
  .navigation__label {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__label {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  background-image: radial-gradient(#7ed56f, #28b485);
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  height: 100vh;
  opacity: 0;
  width: 0rem;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin-bottom: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-repeat: no-repeat;
  transition: all 0.3s;
  background-size: 240%;
  text-transform: uppercase;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100vw;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  top: 3.5rem;
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  width: 3rem;
  height: 2px;
  background-color: #212529;
  display: inline-block;
  transition: all 0.2s;
}
.navigation__icon::after, .navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::after {
  top: -0.8rem;
}
.navigation__icon::before {
  top: 0.8rem;
}
.navigation__label:hover .navigation__icon::after {
  top: -1rem;
}
.navigation__label:hover .navigation__icon::before {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__label .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__label .navigation__icon::after {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__label .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #fff;
  width: 75%;
  border-radius: 3px;
  overflow: hidden;
  display: table;
  opacity: 0;
  transition: all 0.5s 0.2s;
}
@media (max-width: 56.25em) {
  .popup__content {
    display: block;
    width: 85%;
  }
}
.popup__image-box {
  width: 33.33333%;
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 56.25em) {
  .popup__image-box {
    display: none;
  }
}
.popup__text-box {
  width: 66.66666%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media (max-width: 56.25em) {
  .popup__text-box {
    width: 100%;
    display: block;
  }
}
@media (max-width: 37.5em) {
  .popup__text-box {
    padding: 3rem 4rem;
  }
}
.popup__image {
  width: 100%;
  display: block;
}
.popup__text {
  font-size: 1.6rem;
  columns: 2;
  column-gap: 4rem;
  column-rule: 2px solid #ced4da;
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}
@media (max-width: 56.25em) {
  .popup__text {
    columns: 1;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color: #495057;
  font-size: 3rem;
  line-height: 1;
  transition: all 0.2s;
}
.popup__close:hover {
  color: #55c57a;
}

.section-about {
  background-color: #f1f3f5;
  padding: 25rem 0;
  margin-top: -21rem;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 25rem 0 20rem;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10rem;
}
.section-features > * {
  transform: skewY(6deg);
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: #f1f3f5;
  padding: 25rem 0 15rem;
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.15);
}
@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 30%), url("../img/nat-10.jpg");
    background-size: cover;
  }
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 100%, transparent 30%), url("../img/nat-10.jpg");
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
    padding: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
