// COLOR

// --- main colors ---
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

// --- secodery colors ---
$color-secondary-light: #ffb900;
$color-secodary-dark: #ff7730;

// --- tertiary colors ---
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// --- graies color ---
$color-gray-2: #f1f3f5;
$color-gray-5: #ced4da;
$color-gray-6: #adb5bd;
$color-gray-7: #495057;
$color-gray-8: #343a40;
$color-gray-9: #212529;

$color-white: #fff;
$color-black: #000;

// --- default font size ---
$fs-default: 1.6rem;

// GRID
$row-width: 114rem;
$row-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
